.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: 80%;
  margin: 6% 5%;
  background-color: #f3efe2;
  font-family: 'Noto Sans';
  color: #301111;
}

.content a {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.content img {
  width: 25%;
  cursor: pointer;
}

.content__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.content__item label {
  font-size: 32px;
  line-height: 49px;
}

.content__item input {
  font-size: 24px;
  line-height: 33px;
  padding: 2% 0;
  background-color: #f3efe2;
  border: none;
  border-bottom: 1px solid #301111;
}

.content__item input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.content__button {
  width: 30%;
  margin-top: 10%;
  padding: 2% 0;
  border: none;
  background: #559a69;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
}

.content__button:hover {
  background: #129647;
}

.content__link {
  margin-bottom: 5%;
  text-decoration: none;
  color: #301111;
  font-size: 24px;
  line-height: 33px;
}

.content__link:active {
  color: #559a69;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* 手機板 */
@media (max-width: 600px) {
  .content {
    opacity: 0.9;
  }

  .content__item {
    width: 80%;
  }

  .content__button {
    width: 80%;
  }
}
