main {
  width: 50%;
  min-height: 100vh;
  background-color: #f3efe2;
}

.material-symbols-outlined {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 45%;
  top: 60px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.log-in__container {
  position: absolute;
  top: 10%;
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 10%;
}

.log-in__tab {
  display: flex;
  width: 50%;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #301111;
}

.log-in__tab li {
  padding: 5%;
  margin-bottom: 5%;
}

.log-in__tab li:hover {
  color: #129647;
}

aside img {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
  min-height: 100vh;
  object-fit: cover;
}

/* 手機板 */
@media (max-width: 600px) {
  main {
    width: 100%;
    opacity: 0.9;
  }

  .material-symbols-outlined {
    left: 90%;
  }

  .log-in__container {
    width: 100%;
  }

  aside img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
