main {
  width: 50%;
  min-height: 100vh;
  background-color: #f3efe2;
}

.material-symbols-outlined {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 45%;
  top: 60px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.material-symbols-outlined:active {
  color: #559a69;
}

.log-in__container {
  position: absolute;
  top: 10%;
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 10%;
}

.log-in__tab {
  display: flex;
  width: 50%;
  font-family: 'Noto Sans';
  font-size: 36px;
  color: #301111;
  cursor: pointer;
}

.log-in__tab li {
  margin: 5%;
  position: relative;
}

.log-in__tab li::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -20%;
  left: 0;
  background-color: #559a69;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.log-in__tab li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.log-in__content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.log-in__content__account,
.log-in__content__password {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.log-in__content__account label,
.log-in__content__password label {
  font-family: 'Noto Sans';
  font-size: 36px;
  line-height: 49px;
  color: #301111;
}

.log-in__content__account input,
.log-in__content__password input {
  font-family: 'Noto Sans';
  font-size: 24px;
  line-height: 33px;
  color: #301111;
  padding: 2% 0;
  background-color: #f3efe2;
  border: none;
  border-bottom: 1px solid #301111;
}

.log-in__content__account input:focus,
.log-in__content__password input:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.log-in__content__button {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 2% 0;
  border: none;
  background: #559a69;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Noto Sans';
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
}

.log-in__content__button:hover {
  background: #129647;
}

.log-in__content__forget-password {
  display: flex;
  justify-content: center;
  margin: 2% 5%;
  text-decoration: none;
  font-family: 'Noto Sans';
  font-size: 24px;
  line-height: 33px;
  color: #301111;
}

.log-in__content__forget-password:active {
  color: #559a69;
}

aside img {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
  min-height: 100vh;
  object-fit: cover;
}

/* 手機板 */
@media (max-width: 600px) {
  main {
    width: 100%;
    opacity: 0.9;
  }

  .material-symbols-outlined {
    left: 90%;
  }

  .log-in__container {
    width: 100%;
  }

  aside img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
